.blocks-wrapper() {
  outline: 1px solid #000000;
}

.container () {
  width: 320px;
  margin: 0 auto;

  @media @tablet-width {
    width: 620px;
  }

  @media @desktop-width {
    width: 940px;
  }
}

.container-fluid() {
  min-width: 320px;
  width: auto;
  padding: 0 calc(20*100%/320);

  @media @tablet-width {
    width: 89%;
    // max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  @media @desktop-width {
    width: 78%;
  }
}
