.blocks-wrapper() {
  outline: 1px solid #000000;
}

.container-fluid() {
  width: auto;
  min-width: 320px;
  padding: 0 calc(20*100%/320);

  @media @tablet-width {
    width: 89%;
    // max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  @media @desktop-width {
    width: 78%;
  }
}

.pink-uppercase() {
  color: @pink;
  text-transform: uppercase;
}

.input-text() {
  height: 63px;
  padding: 15px 20px;
  border: 2px solid @grey;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;

  @media @tablet-width {
    // padding: 23px 20px;
  }
}
