@tablet-width: ~"(min-width: 700px)";
@desktop-width: ~"(min-width: 1200px)";

@bg-dark: #283645;
@pink: #d22856;

@full-width-mobile: calc(320*100%/280); // 320px от 280px
@margin-full-width-mobile: calc(-20*100%/280); // 20px от 280px
@margin-mobile-right: calc(20*100%/320); // 20px от 320px
@margin-mobile-left: calc(-20*100%/320); // 20px от 320px

@full-width-tablet: calc(700*100%/622); // 700px от 620px
@margin-full-width-tablet: calc(-40*100%/620); // 40px от 620px

@full-width-desktop: calc(1200*100%/939); // 1200px от 940px
@margin-full-width-desktop: calc(-130*100%/945); // 130px от 940px
