@tablet-width: ~"(min-width: 700px)";
@desktop-width: ~"(min-width: 1200px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@bg-darker: #1d2631;
@bg-grey: #f2f2f2; // фон
@bg-dark: #283645;
@white: #ffffff;
@white-03: rgba(255, 255, 255, 0.3);
@pink: #d22856;
@pink-03: rgba(210, 40, 86, 0.3);
@grey: #e5e5e5; //@light-grey //рамки
