@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"),
       url("../fonts/opensansbold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
  src: local("Open Sans"),
       url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2");
}
