* {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

nav,
ul,
li,
p,
h1,
h2,
h3,
fieldset,
button,
a,
input {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none;
}

body {
  background: #283645;
}

.btn {
  display: block;
  padding: 12px;
  border: 3px solid white;
  border-radius: 30px;
  background-color: pink;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  &--green {
    padding: 16px;
    width: 300px;
    height: 63px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    background-color: #2aab6d;
  }

  &--social {
    font-size: 0;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    margin: 0 6px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
