* {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

nav,
ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #283645;
}

.btn {
  border: 1px solid white;
}
