.advantages {
  // .blocks-wrapper();
  text-align: center;
  background: @white;
}

.advantages__question {
  .container-fluid();
  padding: 35px;
  padding-bottom: 25px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
  background: @white;
}

.advantages__answer {
  .container-fluid();
  width: 215px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
  background: @white;
}

.advantages__wrapper {
  .container-fluid();
//   position: relative;
  width: 100%;
  background: @bg-grey;
}

.advantages__items {
  padding-top: 80px;
}

.advantages__item {
  margin-bottom: 30px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

// .advantages__item > img {
//   display: none;
// }
//
// .advantages__item:last-child > img {
//   display: block;
//   margin: 0 auto;
//   padding-top: 40px;
// }
.advantages__iphone-screen {
  display: none;
}

.advantages__item:last-child .advantages__iphone-screen {
  position: relative;
  top: 50px;
  display: inline-block;
  width: 186px;
  height: 382px;
  margin-top: -15px;
}

.advantages__24-hours {
  .container-fluid();
  display: none;
}

@media @tablet-width {
  .advantages__question {
    padding-top: 45px;
    font-size: 40px;
    line-height: 53px;
  }

  .advantages__answer {
    width: 430px;
    padding-bottom: 45px;
    font-size: 40px;
    line-height: 48px;
  }

  .advantages__wrapper {
    position: relative;
    // display: flex;
    // outline: 1px solid green;
  }

  .advantages__items {
    position: relative;
    min-height: 469px;
    padding: 75px 0 45px 310px;
    text-align: left;
    overflow: hidden;
  }

  .advantages__item {
    margin-bottom: 35px;
  }

  .advantages__title {
    padding-bottom: 10px;
  }

  .advantages__item:last-child .advantages__iphone-screen {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 268px;
    height: 481px;
    margin-top: 5px;
  }

  .advantages__24-hours {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 57px;
    align-items: center;
  }

  .advantages__24-hours img {
    width: 240px;
    height: 277px;
  }

  .advantages__24-hours-wrapper {
    width: 50%;
    text-align: left;
  }

  .advantages__24-hours-title {
    padding-top: 5px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .advantages__24-hours-description {
    padding: 10px 0;
    padding-right: 15px;
  }

  .advantages__24-hours a {
    color: @pink;
    text-decoration: underline;
  }
}

@media @desktop-width {
  .advantages__question {
    padding-top: 70px;
    font-size: 50px;
    line-height: 58px;
  }

  .advantages__answer {
    width: 690px;
    padding-bottom: 70px;
    font-size: 50px;
    line-height: 66px;
  }

  .advantages__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    text-align: center;
  }

  .advantages__item {
    position: relative;
    display: inline-block;
    width: 240px;
    padding-top: 330px;
  }

  .advantages__title {
    padding: 26px 0;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__iphone-screen,
  .advantages__item:last-child .advantages__iphone-screen {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 3;
    width: 292px;
    height: 302px;
    margin-top: 0;
  }

  .advantages__24-hours {
    padding-top: 30px;
    padding-bottom: 70px;
    background: @bg-grey;
  }

  .advantages__24-hours > img {
    width: 300px;
    height: 346px;
  }

  .advantages__24-hours-wrapper {
    width: 59%;
    margin-right: 25px;
  }

  .advantages__24-hours-title {
    padding-top: 45px;
  }

  .advantages__24-hours-title br {
    display: none;
  }

  .advantages__24-hours-description {
    padding: 20px 0 30px 0;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__24-hours a {
    font-size: 18px;
    line-height: 30px;
  }
}
