.advantages {
  .blocks-wrapper();
  .container-fluid();
  background: #f2f2f2;
  // margin: 0 auto;
  // padding: 0 20px;
  text-align: center;
}

.advantages__question {
  background: #ffffff;
  font-size: 24px;
  line-height: 32px;
  padding: 35px;//может понадобится
  padding-top: 40px;
}

.advantages__answer {
  background: #ffffff;
  font-size: 24px;
  line-height: 32px;
  // padding: 35px;//может понадобится
  padding-top: 0;
  width: 215px;
  margin: 0 auto;
}

.advantages__items {
  padding-top: 75px;
}

.advantages__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  padding: 15px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__description {
  // font-size: 14px;
  // line-height: 24px;
  // font-weight: 400;
}

.advantages__item > img {
  display: none;
}

.advantages__item:last-child > img {
  // position: relative;
  // bottom: 0;
  display: block;
  padding-top: 40px;
  margin: 0 auto;
}

.advantages__24-hours {
  display: none;
}

@media @tablet-width {
  .advantages__question {
    font-size: 40px;
    line-height: 53px;
    font-weight: 200;
    padding: 50px 0 0 0;
  }

  .advantages__answer {
    font-size: 40px;
    line-height: 53px;
    font-weight: 200;
    width: 350px;
    padding-bottom: 45px;
  }

  .advantages__wrapper {
    // .clearfix();
    position: relative;
    display: flex;
    outline: 1px solid green;
  }

  .advantages__items {
    // float: right;
    width: 50%;
    text-align: left;
    min-height: 469px;
    margin-left: auto;
  }

  .advantages__item:last-child > img {
    position: absolute;
    // top: 0;
    left: 0;
    bottom: 0;
    width: 268px;
    height: 481px;
    padding: 0;
  }

  .advantages__24-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0;
    // .clearfix();
  }

  .advantages__24-hours > img {
    // float: left;
  }

  .advantages__24-hours-wrapper {
    // float: right;
    width: 50%;
    text-align: left;
    // padding: 45px 0;
  }

  .advantages__24-hours-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    // padding-bottom: 20px;
  }

  .advantages__24-hours-description {
    padding: 20px 0;
  }
}

@media @desktop-width {
  .advantages__question {
    font-size: 50px;
    line-height: 66px;
    // font-weight: 200;
    padding-top: 77px;
  }

  .advantages__answer {
    font-size: 50px;
    line-height: 66px;
    // font-weight: 200;
    width: 430px;
    padding-bottom: 70px;
  }

  .advantages__items {
    display: flex;
    justify-content: space-between;
    // float: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .advantages__item {
    display: inline-block;
    width: 240px;
    position: relative;
    padding-top: 330px;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    padding: 26px 0;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__item > img {
    // float: none;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -93px;
    width: 186px;
    height: 301px;
  }

  .advantages__item:last-child > img {
    width: 186px;
    height: 301px;
    left: 50%;
    margin-left: -93px;
  }

  .advantages__24-hours > img {
    width: 300px;
    height: 346px;
  }

  .advantages__24-hours-wrapper {
    width: 56%;
    margin-right: 25px;
  }

  .advantages__24-hours-description {
    padding: 25px 0 40px 0;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__24-hours a {
    font-size: 18px;
    line-height: 30px;
  }
}
