.competition {
  .blocks-wrapper();
  .container-fluid();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: @white;
}

.competition label {
  display: block;
}

.competition__name {
  margin-bottom: 23px;
  background: @white;
}

.competition__name label {
  .pink-uppercase();
}

.competition__name input {
  .input-text();
  width: 100%;
  margin: 10px 0 20px 0;
}

.competition__achievement {
  padding-bottom: 5px;
  background: @bg-grey;
}

.competition__achievement legend {
  .pink-uppercase();
  padding: 35px 30px;
  text-align: center;
}

.competition__achievement label {
  margin-bottom: 43px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
}

.competition__achievement input {
  display: none;
}

.competition__contacts {
  padding: 35px 0;
  background: @white;
}

.competition__contacts legend {
  .pink-uppercase();
  display: none;
  text-align: center;
}

.competition__contacts label {
  .pink-uppercase();
}

.competition__contacts input {
  .input-text();
  width: 100%;
  margin: 10px 0 20px 0;
}

.competition__app {
  margin-bottom: 5px;
  background: @bg-grey;
}

.competition__app legend {
  .pink-uppercase();
  padding: 35px 30px;
  text-align: center;
}

.competition__app label {
  margin-bottom: 35px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
}

.competition__app input {
  display: none;
}

.competition__emotions {
  margin-bottom: 25px;
  background: @white;
  }

.competition__emotions legend {
  .pink-uppercase();
  padding: 55px 30px 15px 30px;
  text-align: center;
}

.competition__emotions textarea {
  .input-text();
  width: 100%;
  height: 200px;
  margin: 10px 0 20px 0;
  resize: none;
}

.competition__submit {
  margin: 0 auto;
}

.competition__footer p {
  margin: 38px 0 16px 0;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}

.competition__footer span {
  .pink-uppercase();
}

@media @tablet-width {
  .competition__name {
    order: 1;
    margin-bottom: 23px;
    background: @white;
  }

  .competition__name label {
    .pink-uppercase();
    display: flex;
    align-items: baseline;

    &:last-child input {
      margin-bottom: 0;
    }
  }

  .competition__name input {
    .input-text();
    width: 100%;
    margin: 0 0 52px 20px;
  }

  .competition__name label:last-child input {
    margin-bottom: 0;
  }

  .competition__app {
    order: 2;
    margin-bottom: 40px;
  }

  .competition__app legend {
    padding-bottom: 43px;
  }

  .competition__app label {
    padding-left: 60px;
  }

  .competition__app label:last-child {
    margin-bottom: 50px;
  }

  .competition__contacts {
    order: 3;
    margin: 0 60px;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }

  .competition__contacts legend {
    display: block;
    padding-top: 25px; // или 60px
    font-size: 14px;
    line-height: 30px;
  }

  .competition__contacts label {
    display: flex;
    flex-direction: column-reverse;
  }

  .competition__contacts input {
    margin-top: 33px;
    margin-bottom: 13px;
  }

  .competition__achievement {
    order: 4;
  }

  .competition__achievement legend {
    padding-bottom: 40px;
  }

  .competition__achievement label {
    padding-left: 60px;
  }

  .competition__emotions {
    order: 5;
    margin: 0 60px;
  }

  .competition__emotions textarea {
    margin-bottom: 52px;
    padding: 23px 20px;
  }

  .competition__footer {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 67px;
  }

  .competition__submit {
    margin: 0;
  }

  .competition__footer p {
    margin: 0;
  }
}

@media @desktop-width {
  .competition {
    flex-direction: row;
    justify-content: space-between;
  }

  .competition__name {
    width: calc(433*100%/940);
    margin-right: 35px;
    margin-bottom: 25px;
  }

  .competition__app {
    width: calc(433*100%/940);
    margin-left: 35px;
    margin-bottom: 25px;
  }

  .competition__app legend {
    padding-top: 0;
  }

  .competition__app label {
    padding-left: 135px;
  }

  .competition__contacts {
    width: 100%;
  }

  .competition__contacts div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .competition__contacts label {
    width: calc(375*100%/820);
    margin-bottom: 23px;
  }

  .competition__achievement {
    width: 100%;
    margin: 0 60px;
    padding-bottom: 12px;
    }

  .competition__achievement div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .competition__achievement legend {
    padding-top: 35px;
  }

  .competition__achievement label {
    width: calc(260*100%/820);
  }

  .competition__emotions {
    width: 100%;
  }

  .competition__emotions textarea {
    margin-bottom: 45px;
  }

  .competition__footer {
    width: 100%;
  }
}
