.contacts {
  .blocks-wrapper();
  .container-fluid();
  text-align: center;
  background: @white;
}

.contacts__question {
  width: 280px;
  margin: 0 auto;
  padding: 45px 0 40px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contacts__item {
  padding: 13px 0;
  outline: 1px solid green;
}

.contacts__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__information,
.contacts__information a {
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
}

.contacts__map {
  width: @full-width-mobile;
  height: 200px;
  margin-left: @margin-full-width-mobile;
  outline: 1px solid yellow;
}

@media @tablet-width {
  .contacts__question {
    width: 400px;
    padding: 56px 0 30px 0;
    font-size: 40px;
    line-height: 53px;
  }

  .contacts__items {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 48%;
    padding: 27px 4%;
  }

  .contacts__title {
    margin-bottom: 7px;
  }

  .contacts__map {
    height: 380px;
    width: @full-width-tablet;
    margin-left: @margin-full-width-tablet;
  }
}

@media @desktop-width {
  .contacts__question {
    width: 480px;
    padding: 76px 0 50px 0;
    font-size: 50px;
    line-height: 66px;
  }

  .contacts__items {
    margin-bottom: 0;
  }

  .contacts__item {
    width: 300px;
    padding: 20px 20px;

    &:nth-child(2) {
      order: 2;
    }
  }

  .contacts__title {
    margin-bottom: 28px;
  }

  .contacts__map {
    height: 500px;
    width: @full-width-desktop;
    margin-left: @margin-full-width-desktop;
  }
}
