.contacts {
  // .blocks-wrapper();
  .container-fluid();
  text-align: center;
  background: @white;
}

.contacts__question {
  width: 280px;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contacts__item {
  padding: 13px 0;
  padding-bottom: 9px;
  // outline: 1px solid green;
}

.contacts__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__information,
.contacts__information a {
  font-size: 24px;
  line-height: 32px;
  color: @pink;
  font-weight: 200;
}

.contacts__information--mail a {
  transition: all 0.3s ease;

  &:hover {
    color: @navy;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

.contacts__map {
  position: relative;
  top: 2px;
  width: calc(~"100% + 40px");
  height: 200px;
  margin-left: -20px;
  // outline: 1px solid yellow;
}

@media @tablet-width {
  .contacts__question {
    width: 400px;
    padding: 45px 0 15px 0;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__items {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .contacts__item {
    width: 48%;
    padding: 27px 4%;

    &:last-child {
      padding-top: 17px;
      padding-bottom: 20px;
    }
  }

  .contacts__title {
    margin-bottom: 3px;
  }

  .contacts__map {
    width: calc(~"100% + 80px");
    height: 380px;
    margin-left: -40px;
  }
}

@media @desktop-width {
  .contacts__question {
    width: 480px;
    padding: 60px 0 40px 0;
    font-size: 50px;
    line-height: 62px;
  }

  .contacts__items {
    margin-bottom: 0;
  }

  .contacts__item {
    width: 300px;
    padding: 20px 20px;

    &:nth-child(2) {
      order: 2;
    }
  }

  .contacts__title {
    margin-bottom: 20px;
  }

  .contacts__map {
    width: calc(~"100% + 260px");
    height: 500px;
    margin-left: -130px;
  }
}
