.download {
  .container-fluid();
  position: relative;
  margin-top: 396px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: @white;
  text-align: center;
}

.download__wrapper {
  position: relative;
  z-index: 3;
}

.download__slogan {
  display: none;
  margin: 0 auto;
}

.download__btn {
  margin: 0 auto;
  background-color: @bg-darker;
}

.download__items {
  height: 56px;
  margin: 30px auto 25px auto;
}

.download__item {
  display: inline-block;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.download__item a {
  font-size: 0;
}

.download__description {
  padding: 0 20px;
  font-weight: 200;
}

@media @tablet-width {
  .download {
    position: static;
    width: 300px;
    margin-top: 0px;
    margin-left: 40px;
    padding: 95px 0 110px 0;
    // outline: 1px solid blue;
  }

  .download__slogan {
    display: block;
    width: 210px;
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 47px;
    font-weight: 200;
  }

  .download__btn {
    width: 100%;
    background-color: transparent;
  }

  .download__items {
    margin: 45px auto 35px auto;
  }

  .download__description {
    padding: 0;
    font-size: 18px;
  }
}

@media @desktop-width {
  .download {
    bottom: 165px;
    left: 130px;
    margin-left: 130px;
    padding: 110px 0 120px 0;
  }

  .download__slogan {
    margin-bottom: 55px;
    font-size: 48px;
    line-height: 58px;
  }

  .download__items {
    margin: 65px auto 55px auto;
  }
}
