.download {
  .container-fluid();
  position: relative;
  margin-top: 396px;
  padding: 30px 0;
  color: @white;
  text-align: center;
}

.download__slogan {
  display: none;
  margin: 0 auto;
}

.download__btn {
  width: 280px;
  height: 55px;
  margin: 0 auto;
  background-color: @bg-dark;
}

.download__item {
  display: inline-block;
  padding: 30px 15px 25px 15px;
}

.download__item a {
  font-size: 0;
}

.download__description {
  padding: 0 20px;
  font-weight: 200;
}

@media @tablet-width {
  .download {
    position: static;
    width: 300px;
    margin-top: 0px;
    margin-left: calc(11%/2);
    padding: 100px 0 110px 0;
    outline: 1px solid blue;
  }

  .download__slogan {
    display: block;
    width: 210px;
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 53px;
    font-weight: 200;
  }

  .download__btn {
    width: 320px;
    background-color: transparent;
  }

  .download__item {
    padding: 40px 15px 35px 15px;
  }
}

@media @desktop-width {
  .download {
    bottom: 165px;
    left: 130px;
    margin-left: calc(22%/2);
    padding: 120px 0;
  }

  .download__slogan {
    margin-bottom: 60px;
  }

  .download__item {
    padding: 65px 15px 60px 15px;
  }
}
