.inner-page {
  .container-fluid();
  position: relative;
  // position: absolute;
  // bottom: 0;
  // padding-left: 20px;
  // padding-right: 20px;
  text-align: center;
  // padding-top: 175px; //уточнить для других версий
}

.inner-page__title {
  color: white; //temp
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
  // padding: 0 30px; //уточнить для других версий
  // padding-top: 175px; //уточнить для других версий
  // padding-bottom: 80px; //уточнить для других версий
  min-height: 170px;
  padding: 36px calc(25*100%/320) 45px calc(25*100%/320);
}

.inner-page__intro {
  margin-left: @margin-full-width-mobile;
  width: @full-width-mobile;
  min-height: 185px;
  background-color: white; //temp
  padding: 50px 20px;
  line-height: 30px;
}

.inner-page__intro span {
  display: none;
}

@media @tablet-width {
  .inner-page__title {
    min-height: 330px;
    padding: 75px calc(100*100%/620) 70px calc(100*100%/620);
    font-size: 50px;
    line-height: 67px;
  }

  .inner-page__intro {
    margin-left: @margin-full-width-tablet;
    width: @full-width-tablet;
    min-height: 230px;
    // padding: 50px 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 95px 100px 75px 100px;
  }

  .inner-page__intro br {
    display: none;
  }

  .inner-page__intro span {
    display: inline;
    font: inherit;
  }
}

@media @desktop-width {
  .inner-page__title {
    min-height: 285px;
    padding: 70px calc(60*100%/940) 90px calc(60*100%/940);
  }

  .inner-page__intro {
    margin-left: @margin-full-width-desktop;
    width: @full-width-desktop;
    min-height: 240px;
    padding: 95px 100px 85px 100px;
  }

  .inner-page__intro br {
    display: block;
  }

  .inner-page__intro span {
    // display: inline;
    // font: inherit;
  }
}
