.inner-page {
  .container-fluid();
  position: relative;
  text-align: center;
}

.inner-page__title {
  min-height: 170px;
  padding: 30px calc(25*100%/320) 45px calc(25*100%/320);
  font-size: 24px;
  line-height: 30px;
  color: @white; //temp
  font-weight: 200;
}

.inner-page__intro {
  width: @full-width-mobile;
  min-height: 185px;
  margin-left: @margin-full-width-mobile;
  padding: 45px 20px 50px 20px;
  line-height: 30px;
  background-color: @white; //temp
}

.inner-page__intro span {
  display: none;
}

@media @tablet-width {
  .inner-page__title {
    min-height: 330px;
    padding: 70px calc(100*100%/620) 70px calc(100*100%/620);
    font-size: 50px;
    line-height: 60px;
  }

  .inner-page__intro {
    width: @full-width-tablet;
    min-height: 230px;
    margin-left: @margin-full-width-tablet;
    padding: 95px 100px 75px 100px;
    font-size: 18px;
    font-weight: 400;
  }

  .inner-page__intro span {
    display: inline;
    font: inherit;
  }

  .inner-page__intro br {
    display: none;
  }
}

@media @desktop-width {
  .inner-page__title {
    min-height: 285px;
    padding: 65px calc(60*100%/940) 90px calc(60*100%/940);
  }

  .inner-page__intro {
    width: @full-width-desktop;
    min-height: 240px;
    margin-left: @margin-full-width-desktop;
    padding: 95px 100px 85px 100px;
  }

  .inner-page__intro br {
    display: block;
  }
}
