.main-nav {
  position: relative;
  top: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__wrapper {
  .container-fluid();
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  // outline: 1px solid yellow;
}

.main-nav__logo {
  z-index: 10;
  width: 75px;
  height: 22px;
  margin: 20px;
  margin-left: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 50px;
  height: 25px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;

  &--open::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    // display: none;
    width: 50px;
    height: 4px;
    box-shadow: 0 10px 0 0 @white,
                0 20px 0 0 @white;
    background-color: @white;
  }

  &--close::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    display: none;
    width: 30px;
    height: 4px;
    transform: rotate(45deg);
    background-color: @white;
  }

  &--close::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    display: none;
    width: 30px;
    height: 4px;
    transform: rotate(-45deg);
    background-color: @white;
  }
}

.main-nav__items {
  position: absolute;
  top: -4px;
  z-index: 9;
  display: none;
  width: 100%;
  margin-left: -20px;
  text-align: center;
  background-color: @bg-dark;
}

.main-nav__item {
  padding: 16px 0;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15),
              inset 0 -1px 0 0 #000000;
}

.main-nav__item:first-child {
  height: 73px;
}

.main-nav__item a {
  font-size: 18px;
  line-height: 32px;
  color: @white; //временная мера
  text-transform: uppercase;
}

@media @tablet-width {
  .main-nav {
    top: 0;
  }

  .main-nav__wrapper {
    top: 0;
    min-height: 110px;
  }

  .main-nav__logo {
    width: 150px;
    height: 40px;
    margin: 27px 0 40px 0;
  }

  .main-nav__logo img {
    width: 150px;
    height: 40px;
  }

  .main-nav__toggle {
    top: 44px;
    right: 40px;

      &--open::before {
        top: 0;
        right: 0;
      }

      &--close::before {
        top: 10px;
        right: 0;
      }

      &--close::after {
        top: 10px;
        right: 0;
      }
    }

  .main-nav__items {
    width: 100%;
    margin-left: -40px;
  }

  .main-nav__item {
    &:first-child {
      height: 113px;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@media @desktop-width {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__items {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    min-height: 110px;
    margin-left: 0px;
    font-size: 0px;
    background-color: transparent;
  }

  .main-nav__item {
    display: inline-block;
    padding: 40px;
    font-weight: 400;
    text-transform: none;
    box-shadow: none;
  }

  .main-nav__item:first-child {
    display: none;
  }

  .main-nav__item a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
  }
}
