.main-nav {
  position: relative;
  top: 4px;
  background: rgba(0, 0, 0, 0.3);
}

.main-nav__wrapper {
  .container-fluid();
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 66px;
}

.main-nav__logo {
  position: relative;
  z-index: 10;
  width: 75px;
  height: 22px;
  margin: 20px;
  margin-left: 0;

  & path {
    transition: all 0.3s ease;
  }

  &--tablet,
  &--desktop {
    display: none;
  }
}

.main-nav__logo:hover path {
  fill: @pink;
}

.main-nav__logo:active path {
  fill: @white-03;
}

.main-nav__logo svg {
  position: absolute;
  top: -15px;
  left: -72px;
  width: 147px;
  height: 40px;
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  display: none;
  width: 50px;
  height: 25px;
  font-size: 0;
  cursor: pointer;
  background: transparent;

  &--open {
    display: block;
  }

  &--open::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 4px;
    box-shadow: 0 10px 0 0 @white,
                0 20px 0 0 @white;
    background: @white;
  }

  &--open:hover::before {
    box-shadow: 0 10px 0 0 @pink,
                0 20px 0 0 @pink;
    background: @pink;
  }

  &--open:active::before {
    box-shadow: 0 10px 0 0 @pink-03,
                0 20px 0 0 @pink-03;
    background: @pink-03;
  }

  &--close {
    // display: block;
  }

  &--close::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 4px;
    transform: rotate(45deg);
    background: @white;
  }

  &--close:hover::before {
    background: @pink;
  }

  &--close:active::before {
    background: @pink-03;
  }

  &--close::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 4px;
    transform: rotate(-45deg);
    background: @white;
  }

  &--close:hover::after {
    background: @pink;
  }

  &--close:active::after {
    background: @pink-03;
  }
}

.main-nav__list {
  position: absolute;
  top: -4px;
  z-index: 9;
  display: none;
  width: 100%;
  margin-left: -20px;
  text-align: center;
  background: @navy;
}

@media @tablet-width {
  .main-nav {
    top: 0;
  }

  .main-nav__wrapper {
    top: 0;
    min-height: 110px;
  }

  .main-nav__logo {
    width: 150px;
    height: 40px;
    margin: 27px 0 40px 0;

    &--tablet {
      display: inline-block;
    }
  }

  .main-nav__logo svg {
    position: initial;
  }

  .main-nav__toggle {
    top: 44px;
    right: 40px;

      &--open::before {
        top: 0;
        right: 0;
      }

      &--close::before {
        top: 10px;
        right: 0;
      }

      &--close::after {
        top: 10px;
        right: 0;
      }
    }

  .main-nav__list {
    width: 100%;
    margin-left: -40px;
  }
}

@media @desktop-width {
  .main-nav__logo {

    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    min-height: 110px;
    margin-left: 0px;
    font-size: 0px;
    background: transparent;
  }
}
