.page-footer {
  // outline: 1px solid red;

  &--main {
    display: none;
  }
}

.page-footer__wrapper {
  .container-fluid();
  display: flex;
  flex-direction: column;
  align-items: center;
  // outline: 1px solid yellow;
  background: #ffffff;
}

.page-footer__logo {
  margin-top: 40px;

  // &--html-academy {
  //   display: inline-block;
  //   width: 27px;
  //   height: 34px;
  //   margin: 0;
  // }
}

.page-footer__social {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.page-footer__copyrights {
  margin-top: 40px;
  vertical-align: text-top;
}

.page-footer__copyrights span {
  line-height: 18px;
}

.page-footer__copyrights img {
  vertical-align: middle;
}

@media @tablet-width {

  .page-footer {

    &--main {
      display: block;
    }
  }

  .page-footer__wrapper {
    .container-fluid();
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 127px;
  }

  .page-footer__logo {
    width: 147px;
    height: 40px;
    margin-top: 36px;

    &--html-academy {
      display: inline-block;
      width: 27px;
      height: 34px;
      margin-top: 0;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .page-footer__logo--html-academy path {
    fill: @pink;
  }

  .page-footer__copyrights {
    margin-top: 50px;
  }

  .page-footer__social {
    margin-left: -18px;
  }

  .page-footer__copyrights img {
    margin-left: 15px;
    vertical-align: middle;
  }
}

@media @desktop-width {
  .page-footer__wrapper {
    min-height: 197px;
  }

  .page-footer__logo {
    margin-top: 70px;

    &--html-academy {
      margin-top: 0;
    }
  }

  .page-footer__social {
    margin-top: 75px;
    margin-left: 0;
  }

  .page-footer__copyrights {
    margin-top: 85px;
  }

  .page-footer__copyrights span {
    font-size: 18px;
  }
}
