.page-main {
  margin: 20px;
  border: 1px solid red;
  background: #283645 url("../img/bg-back-mobile.jpg") no-repeat center top;

  &__title {
    color: #ffffff;
  }

  &__description {
    color: #283645;
    background: #ffffff;
  }
}
