.page-header {
  position: relative;
  background: @bg-dark url("../images/bg-back-mobile.jpg") no-repeat center top;

  @media @retina {
    background-image: url("../images/bg-back-mobile@2x.jpg");
    background-size: auto 461px;
  }
}

.page-header--inner {
  min-height: 420px;
}

@media @tablet-width {
  .page-header {
    background-image: url("../images/bg-back-tablet@1x.jpg");

    @media @retina {
      background-image: url("../images/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }
}

@media @desktop-width {
  .page-header {
    background-image: url("../images/bg-back-desktop.jpg");
  }
}
