.page-footer {
  // outline: 1px solid red;

  &--main {
    display: none;
  }
}

.page-footer__wrapper {
  .container-fluid();
  display: flex;
  flex-direction: column;
  align-items: center;
  // outline: 1px solid yellow;
  background: #ffffff;
}

.page-footer__logo {
  margin-top: 40px;

  &--blue {
    width: 147px;
    height: 40px;
  }

  &--desktop {
    display: none;
  }

  &--html-academy {
    display: inline-block;
    width: 27px;
    height: 34px;
    margin-top: 0;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.page-footer__logo:hover .page-footer__logo--all path {
  fill: @pink;
  transition: all 0.3s ease;
}

.page-footer__logo:active .page-footer__logo--all path {
  fill: rgba(40, 54, 69, 0.3);
}

.page-footer__logo:active .page-footer__logo--mobile path,
.page-footer__logo:active .page-footer__logo--desktop path {
  opacity: 0.3;
  transition: all 0.3s ease;
}

.page-footer__logo--html-academy path {
  fill: @pink;
  transition: all 0.3s ease;
}

.page-footer__logo--html-academy:hover path {
  fill: @navy;
}

.page-footer__logo--html-academy:active path {
  fill: rgba(40, 54, 69, 0.3);
}

.page-footer__social {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.page-footer__copyrights {
  margin-top: 35px;
  vertical-align: text-top;
}

.page-footer__copyrights span {
  line-height: 18px;
}

.page-footer__copyrights img {
  vertical-align: middle;
}

@media @tablet-width {

  .page-footer {

    &--main {
      display: block;
    }
  }

  .page-footer__wrapper {
    .container-fluid();
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 127px;
  }

  .page-footer__logo {
    width: 147px;
    height: 40px;
    margin-top: 36px;

    &--html-academy {
      width: 27px;
      height: 34px;
      margin-top: 0;
    }
  }

  .page-footer__copyrights {
    margin-top: 50px;
  }

  .page-footer__social {
    margin-left: -18px;
  }

  .page-footer__copyrights img {
    margin-left: 15px;
    vertical-align: middle;
  }
}

@media @desktop-width {
  .page-footer__wrapper {
    min-height: 197px;
  }

  .page-footer__logo {
    margin-top: 70px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }

    &--html-academy {
      margin-top: 0;
    }
  }

  .page-footer__social {
    margin-top: 75px;
    margin-left: 0;
  }

  .page-footer__copyrights {
    margin-top: 85px;
  }

  .page-footer__copyrights span {
    font-size: 18px;
  }
}
