.photo {
  .blocks-wrapper();
  .container-fluid();
  background: #ffffff;
}

.photo__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo__item {
  position: relative;
  width: 100%;
  margin: 10px 0;
  background: #f2f2f2;

  &:first-child {
    margin-top: 0;
  }
}

.photo__item img {
  width: 100%;
  height: auto;
}

.photo__item-wrapper {
  padding: 20px 15px;
}

.photo__user-name {
  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  font-weight: 200;
}

.photo__like {
  .pink-uppercase();
  padding: 10px 0;
  padding-left: 32px;
  font-size: 12px;
}

.photo__panorama-of-day {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 36px;
  padding: 7px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: @pink;
}

.photo__item--panorama img {
  width: @full-width-mobile;
  height: auto;
  margin-left: @margin-full-width-mobile;
}

@media @tablet-width {
  .photo__item {
    position: relative;
    width: calc(300*100%/620);
    margin: 10px 0;

    &:first-child {
      margin-bottom: 50px;
    }
  }

  .photo__item img {
    width: 100%;
    height: auto;
  }

  .photo__item-wrapper {
    padding: 25px;
    padding-bottom: 63px;
  }

  .photo__like {
    position: absolute;
    bottom: 27px;
    left: 25px;
    padding: 0;
  }

  .photo__item--panorama {
    width: 100%;
  }

  .photo__panorama-of-day {
    top: 57px;
  }

  .photo__item--panorama img {
    width: @full-width-tablet;
    margin-left: @margin-full-width-tablet;
  }

  .photo__item--panorama .photo__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo__user-comment--panorama {
    order: 3;
  }

  .photo__like--panorama {
    position: static;
    order: 2;
    padding-right: 35px;
  }
}

@media @desktop-width {
  .photo__item {
    width: calc(300*100%/940);
    margin: 27px 0;
  }

  .photo__item img {
    width: 100%;
    height: auto;
  }

  .photo__item--panorama {
    width: 100%;
  }

  .photo__panorama-of-day {
    top: 54px;
  }

  .photo__item--panorama img {
    width: @full-width-desktop;
    margin-left: @margin-full-width-desktop;
  }
}
