.photo {
  // .blocks-wrapper();
  .container-fluid();
  background: #ffffff;
}

.photo__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo__item {
  position: relative;
  width: 100%;
  margin: 9px 0;
  background: #f2f2f2;

  &:first-child {
    margin-top: 0;
  }
}

.photo__item img {
  width: 100%;
  height: auto;
}

.photo__img {
  &--tablet,
  &--desktop {
    display: none;
  }
}

.photo__item-wrapper {
  padding: 10px 14px;
}

.photo__user-name {
  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
}

.photo__like {
  .pink-uppercase();
  position: relative;
  padding: 10px 0 10px 32px;
  font-size: 12px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 12px;
    margin-top: -6px;
    // background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMBAMAAACgrpHpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEX////SKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFYAAABSZIxaAAAADXRSTlMAEJ/v34DPv3Agr0BgEhX42wAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhAxMSDRitoHEjAAAAWklEQVQI12NgVL4S6mskwCB2pfiuuW8iQ68CY7kA01WG2gkMDAyc1xnWbgDS3LcYziYCaeE7DEzXBBgYcxUYGGoTGcQuAcXELoG5QEF1oBRI4C5IKVAgDcgFAJ7sFUz21fMgAAAAAElFTkSuQmCC) no-repeat;
    background: url("../images/icon-heart.svg") no-repeat center center;
    cursor: pointer;
  }
}

.photo__panorama-of-day {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 36px;
  padding: 7px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  background: @pink;
}

.photo__item--panorama img {
  width: calc(~"100% + 40px");
  height: auto;
  margin-left: -20px;
}

@media @tablet-width {
  .photo__item {
    position: relative;
    width: calc(300*100%/620);
    margin: 10px 0;
  }

  .photo__img {
    &--tablet {
      display: inline-block;
    }

    &--mobile {
      display: none;
    }
  }

  // .photo__item img {
  //   width: 100%;
  //   height: auto;
  // }

  .photo__item-wrapper {
    min-height: 150px;
    padding: 18px 25px;
    padding-bottom: 55px;
  }

  .photo__like {
    position: absolute;
    bottom: 23px;
    left: 25px;
    width: 81%;
    padding: 0;

    &::before {
      top: 12px;
      left: auto;
      right: 0;
    }
  }

  .photo__item--panorama {
    width: 100%;
    margin-bottom: 40px;
  }

  .photo__panorama-of-day {
    top: 57px;
  }

  .photo__item--panorama img {
    width: calc(~"100% + 80px");
    margin-left: -40px;
  }

  .photo__item--panorama .photo__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 110px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .photo__user-comment--panorama {
    order: 3;
  }

  .photo__like--panorama {
    position: relative;
    order: 2;
    top: 0;
    width: initial;
    margin-right: 30px;
    padding-right: 30px;
  }
}

@media @desktop-width {
  .photo__item {
    width: calc(300*100%/940);
    margin-top: 27px;
    margin-bottom: 22px;
  }

  .photo__img {
    &--desktop {
      display: inline-block;
    }

    &--tablet {
      display: none;
    }
  }

  // .photo__item img {
  //   width: 100%;
  //   height: auto;
  // }

  .photo__item--panorama {
    width: 100%;
  }

  .photo__panorama-of-day {
    top: 54px;
  }

  .photo__item--panorama img {
    width: calc(~"100% + 260px");
    margin-left: -130px;
  }

  .photo__item--panorama .photo__item-wrapper {
    min-height: 90px;
  }
}
