.reviews {
  // .blocks-wrapper();
  .container-fluid();
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  background: @white;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.reviews__items {
  margin-bottom: 15px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 225px;
}

.reviews__item:nth-child(n+2) {
  display: none;
}

.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__user-datas {
  display: none;
}

.reviews__review {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

@media @tablet-width {
  .reviews {
    padding-top: 35px;
    padding-bottom: 15px;
  }

  .reviews__items {
    margin-bottom: 30px;
  }

  .reviews__item {
    justify-content: space-around;
    min-height: 185px;
  }

  .reviews__user-name {
    order: 2;
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__user-datas {
    display: block;
    order: 3;
    line-height: 30px;
  }

  .reviews__review {
    order: 1;
    margin-bottom: auto;
    font-size: 18px;
    line-height: 30px;
  }
}

@media @desktop-width {
  .reviews {
    position: relative;
    padding-top: 180px;
    padding-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 68px;
      left: 50%;
      width: 79px;
      height: 64px;
      margin-left: -40px;
      background-image: url("../images/icon-quotes.svg");
    }
  }

  .reviews .slider__wrapper {
    display: none;
  }

  .reviews__items {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      width: 22px;
      height: 41px;
      cursor: pointer;
      background-image: url("../images/icon-review-arrow-left-1.svg");
    }

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      right: 0;
      width: 22px;
      height: 41px;
      cursor: pointer;
      background-image: url("../images/icon-review-arrow-right-1.svg");
    }
  }

  .reviews__item {
    width: 710px;
    margin: 0 auto;
  }

  .reviews__user-name {
    font-size: 24px;
  }

  .reviews__user-datas {
    font-size: 18px;
  }
}
