.upload {
  .blocks-wrapper();
  .container();
  text-align: center;
  background: #f2f2f2;
}

.upload__description {
  padding: 45px 0;
  // text-align: center;
}

.upload button {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
}

.upload__toggle {
  display: none;
}
